QWidget {
	background-color: #2F3233;
}
QLabel {
    font-size: 14px;
	color: #DAE4E6;
	font-family: Arial;
	font-weight: bold;
}
QLineEdit {
    color: #DAE4E6;
}
/* QSplitter */
QSplitter {
	width: 2px;
	height: 2px;
}
QSplitter::handle {
	border: 4px ridge #566066;
	max-width: 40px;
	max-height: 40px;
}
/* QScrollBar */
QScrollBar:vertical {
	background-color: white;
	width: 12px;
}
QScrollBar::handle:vertical {
	background: #667780;
	min-height: 0px;
	border-radius: 80px;
}
QScrollBar::add-line:vertical {
	height: 0px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
	height: 0px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}


/***************
** TASKS LIST **
***************/

/* lw_tasks */
[accessibleName="lw_tasks"] {
    border: 1px solid #566665;
    border-radius: 5px;
}
[accessibleName="lw_tasks"]::item {
    background-color: #485054;
    border-width: 3px 0px 3px 0px;
    border-style: ridge none ridge none;
    border-color: #566066;
    box-sizing: border-box;
    padding-top: -3px;
}
[accessibleName="lw_tasks"]::item:hover {
    background-color: #5E6970;
}
[accessibleName="lw_tasks"]::item:selected {
    background-color: #74818A;
}
[accessibleName="lw_tasks"]::indicator {
    width: 0px;
    height: 0px;
}

/*****************
** WIDGETS LIST **
*****************/

/* lw_widgets */
[accessibleName="lw_widgets"] {
    margin-bottom: 8px;
    border: 1px solid #566665;
    border-radius: 5px;
}
[accessibleName="lw_widgets"]::item {
    width: 60px;
    height: 60px;
}
[accessibleName="lw_widgets"]::item:hover {
    background-color: #566066;
    border-radius: 5px;
    border: 2px solid white;
}
[accessibleName="lw_widgets"]::item:selected {
    background-color: #78868F;
    border-radius: 8px;
    border: 3px solid white;
}
/* lw_task_widgets */
[accessibleName="lw_task_widgets"] {
    margin-top: 2px;
    font-size: 6px;
}


[accessibleName="le_task_name"] {
    font-size: 16px;
    font-family: Arial Black;
    border: 1px solid #566665;
    border-radius: 5px;
}

/********************
** WIDGETS EDITION **
********************/

/* lbl_widget_title */
[accessibleName="lbl_widget_title"] {
    margin-left: -60px;
    font-family: Arial Black;
    font-size: 16px;
    font-weight: bold;
}
/* ToggleWidget */
[accessibleName="ToggleWidget"] {
    border: 5px solid #566665;
    border-radius: 5px;
}
[accessibleName="ToggleWidget"]::checked {
    background-color: #DAE4E6;
    border: 5px solid #566665;
}
[accessibleName="ToggleWidget"]::hover {
    border: 5px solid #566665;
}
[accessibleName="ToggleWidget"]::pressed {
    background-color : #566665;
}

/* QDateTimeEdit */
QDateTimeEdit {
    background-color: #DAE4E6;
    border-radius: 5px;
}
QDateTimeEdit QAbstractItemView {
    background-color: #DAE4E6;
}
QDateTimeEdit:focus {
    background-color: #B6BEBF;
    padding-left: 5px;
}
/* QSpinBox */
QSpinBox {
    background-color: #DAE4E6;
    border-radius: 5px;
}
QSpinBox::up-button, QSpinBox::down-button {
    width: 20px;
}
/* QComboBox */
QComboBox {
    background-color: #DAE4E6;
    border-radius: 5px;
}
QComboBox QAbstractItemView {
    background-color: #DAE4E6;
}
QComboBox QAbstractItemView:item {
    height: 20px;
    font-size: 14px;
}
QComboBox:on {
    background-color: #B6BEBF;
    padding-left: 5px;
}
/* QTextEdit */
QTextEdit {
    color: #DAE4E6;
	background-color: #394040;
	border-radius: 5px;
	font-size: 14px;
}
/* lw_listnotes */
[accessibleName="lw_listnotes"] {
    background-color: #394040;
    color: white;
    font-size: 16px;
    border: 1px solid #566665;
    border-radius: 5px;
}
[accessibleName="lw_listnotes"]::item {
    background-color: #4F5959;
}
[accessibleName="lw_listnotes"]::item:alternate {
    background-color: #444D4D;
}
[accessibleName="lw_listnotes"]::item:selected {
    background-color: #74818A;
}
/* btn_listnotes */
[accessibleName="btn_listnotes"] {
    color: #DAE4E6;
    font-size: 20px;
    font-family: Arial Black;
    border: 2px solid #DAE4E6;
    border-radius: 5px;
}
